<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title | escape }}{% if page.title %} - {{ page.title | escape }}{% endif %}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ "assets/css/pressman.css" | relative_url }}" media="screen"/>
    <link rel="stylesheet" href="{{ "assets/css/mod.css" | relative_url }}" media="screen"/>
</head>
